/trunk/TouhouSpring/_ReSharper.TouhouSpring
/trunk/Fountain/Common/bin/*
/trunk/Fountain/Common/obj/*
/trunk/Fountain/Particle/bin/*
/trunk/Fountain/Particle/obj/*
/trunk/Fountain/ParticleWorkshop/bin/*
/trunk/Fountain/ParticleWorkshop/obj/*
/trunk/Fountain/TextureAtlas/bin/*
/trunk/Fountain/TextureAtlas/obj/*
/trunk/Fountain/TextureAtlasEditor/bin/*
/trunk/Fountain/TextureAtlasEditor/obj/*
/trunk/Fountain/ToolCommon/bin/*
/trunk/Fountain/ToolCommon/obj/*
/trunk/Third-parties/CurveEditor_4_0/CurveControl/bin/*
/trunk/Third-parties/CurveEditor_4_0/CurveControl/obj/*
/trunk/Third-parties/CurveEditor_4_0/CurveEditor/bin/*
/trunk/Third-parties/CurveEditor_4_0/CurveEditor/obj/*
/trunk/Third-parties/Mapper/bin/*
/trunk/Third-parties/Mapper/obj/*
/trunk/TouhouSpring.suo
/trunk/TouhouSpring/CardEditor/bin/*
/trunk/TouhouSpring/CardEditor/obj/*
/trunk/TouhouSpring/Cards/bin/*
/trunk/TouhouSpring/Cards/obj/*
/trunk/TouhouSpring/Console/bin/*
/trunk/TouhouSpring/Console/obj/*
/trunk/TouhouSpring/Dashboard/bin/*
/trunk/TouhouSpring/Dashboard/obj/*
/trunk/TouhouSpring/Game/bin/*
/trunk/TouhouSpring/Game/obj/*
/trunk/TouhouSpring/THSXnaWindows/THSXnaWindows/THSXnaWindows.csproj.Debug.cachefile
/trunk/TouhouSpring/THSXnaWindows/THSXnaWindows/THSXnaWindows.csproj.Release.cachefile
/trunk/TouhouSpring/THSXnaWindows/THSXnaWindows/bin/*
/trunk/TouhouSpring/THSXnaWindows/THSXnaWindows/obj/*
/trunk/TouhouSpring/THSXnaWindows/THSXnaWindowsContent/obj/*
*.csproj.user
*.contentproj.user
Thumbs.db