/trunk/_ReSharper.TouhouSpring/*
/trunk/TouhouSpring/_ReSharper.TouhouSpring
/trunk/Fountain/Common/bin/*
/trunk/Fountain/Common/obj/*
/trunk/Fountain/ImeProvider/Debug/*
/trunk/Fountain/ImeProvider/Output/*
/trunk/Fountain/ImeProvider/Release/*
/trunk/Fountain/Particle/bin/*
/trunk/Fountain/Particle/obj/*
/trunk/Fountain/ParticleWorkshop/bin/*
/trunk/Fountain/ParticleWorkshop/obj/*
/trunk/Fountain/TextureAtlas/bin/*
/trunk/Fountain/TextureAtlas/obj/*
/trunk/Fountain/TextureAtlasEditor/bin/*
/trunk/Fountain/TextureAtlasEditor/obj/*
/trunk/Fountain/ToolCommon/bin/*
/trunk/Fountain/ToolCommon/obj/*
/trunk/NetServer/_ReSharper.NetServer
/trunk/NetServer/Common/bin/*
/trunk/NetServer/Common/obj/*
/trunk/NetServer/ChatServerChan/bin/*
/trunk/NetServer/ChatServerChan/obj/*
/trunk/NetServer/GameServerChan/bin/*
/trunk/NetServer/GameServerChan/obj/*
/trunk/NetServer/ServerCore/bin/*
/trunk/NetServer/ServerCore/obj/*
/trunk/NetServer/NetServer.suo
/trunk/Third-parties/CurveEditor_4_0/CurveControl/bin/*
/trunk/Third-parties/CurveEditor_4_0/CurveControl/obj/*
/trunk/Third-parties/CurveEditor_4_0/CurveEditor/bin/*
/trunk/Third-parties/CurveEditor_4_0/CurveEditor/obj/*
/trunk/Third-parties/Lidgren.Network/bin/*
/trunk/Third-parties/Lidgren.Network/obj/*
/trunk/Third-parties/Mapper/bin/*
/trunk/Third-parties/Mapper/obj/*
/trunk/Third-parties/SmartThreadPool/bin/*
/trunk/Third-parties/SmartThreadPool/obj/*
/trunk/Third-parties/Swf2XNA/GdiRenderer/bin/*
/trunk/Third-parties/Swf2XNA/GdiRenderer/obj/*
/trunk/Third-parties/Swf2XNA/SwfReader/bin/*
/trunk/Third-parties/Swf2XNA/SwfReader/obj/*
/trunk/Third-parties/Swf2XNA/V2DRuntime/bin/*
/trunk/Third-parties/Swf2XNA/V2DRuntime/obj/*
/trunk/Third-parties/Swf2XNA/Vex/bin/*
/trunk/Third-parties/Swf2XNA/Vex/obj/*
/trunk/Third-parties/Swf2XNA/VexPipeline/bin/*
/trunk/Third-parties/Swf2XNA/VexPipeline/obj/*
/trunk/Third-parties/Swf2XNA/VexPipelineReader/bin/*
/trunk/Third-parties/Swf2XNA/VexPipelineReader/obj/*
/trunk/Third-parties/Swf2XNA/VexTo2DPhysics/bin/*
/trunk/Third-parties/Swf2XNA/VexTo2DPhysics/obj/*
/trunk/TouhouSpring/THSNetwork/bin/*
/trunk/TouhouSpring/THSNetwork/obj/*
/trunk/TouhouSpring.suo
/trunk/TouhouSpring/CardEditor/bin/*
/trunk/TouhouSpring/CardEditor/CardEditor.suo
/trunk/TouhouSpring/CardEditor/obj/*
/trunk/TouhouSpring/DeckMaker/bin/*
/trunk/TouhouSpring/DeckMaker/obj/*
/trunk/TouhouSpring/Cards/bin/*
/trunk/TouhouSpring/Cards/obj/*
/trunk/TouhouSpring/Console/bin/*
/trunk/TouhouSpring/Console/obj/*
/trunk/TouhouSpring/Dashboard/bin/*
/trunk/TouhouSpring/Dashboard/obj/*
/trunk/TouhouSpring/DashboardSetup/Debug/*
/trunk/TouhouSpring/DashboardSetup/Release/*
/trunk/TouhouSpring/Game/bin/*
/trunk/TouhouSpring/Game/obj/*
/trunk/TouhouSpring/THSv0.5/bin/*
/trunk/TouhouSpring/THSv0.5/obj/*
/trunk/TouhouSpring/THSXnaWindows/THSXnaWindows/THSXnaWindows.csproj.Debug.cachefile
/trunk/TouhouSpring/THSXnaWindows/THSXnaWindows/THSXnaWindows.csproj.Release.cachefile
/trunk/TouhouSpring/THSXnaWindows/THSXnaWindows/bin/*
/trunk/TouhouSpring/THSXnaWindows/THSXnaWindows/obj/*
/trunk/TouhouSpring/THSXnaWindows/THSXnaWindowsContent/exports/*
/trunk/TouhouSpring/THSXnaWindows/THSXnaWindowsContent/obj/*
*.csproj.user
*.contentproj.user
*.DotSettings.user
*.vcxproj.user
*.opensdf
*.sdf
*.aps
Thumbs.db
